<div class="container">
	<div class="row">
	  	<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="nav-collapse collapse">
					<ul class="nav">
					    <li>
					    	<img src="/img/logo.png"/>
					    </li>
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="/product/list">商品管理</a>
						</li>
						<li>
							<a href="/po/list">采购管理</a>
						</li>
						<li>
							<a href="/so/list">销售管理</a>
						</li>
						<li>
							<a href="/customer/list">客户管理</a>
						</li>
						<li>
							<a href="/finance/list">钱流管理</a>
						</li>
						<li>
							<a href="/system/list">系统设置</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>