<div class="container">
	<div class="row">
	  	<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active">
							<a href="/">首页</a>
						</li>
						<li>
							<a href="./getting-started.html">项目管理</a>
						</li>
						<li>
							<a href="./scaffolding.html">分支管理</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>