<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link ref="stylesheet" href="/css/bootstrap-responsive.min.css" />
  </head>
  <body>
  	<%include  header.ejs%>
	<div class="row" style="height:40px"><div class="span12"></div></div>
	<div class="row">
	    <div class="span2">
	    	<%include leftbar.ejs %>
	    </div>
	    <div class="span10">
	    	<div class="btn">编辑</div>
	    	<div class="btn">删除</div>
	      	<div class="btn">打分</div>
	    </div>
	  </div>
	  <div class="row">
	  	<div class = "span12">

	  	</div>
	  </div>
  </body>
</html>
