<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link ref="stylesheet" href="/css/bootstrap-responsive.min.css" />
  </head>
  <body>
  	<%include  header.ejs%>
	<div class="row" style="height:80px"><div class="span12"></div></div>
	<div class="row">
	    <div class="span2">
	    	<%include leftbar.ejs %>
	    </div>
	    <div class="span10">
	    	<%- body %>
	    </div>
	  </div>
  </body>
</html>
