<ul class="nav nav-list">
	<p><strong>功能列表</strong></p>
	<% if(leftbar && menugroup) {
		 for(var i in leftbar) { 
		 if(leftbar[i].group == menugroup){ %>
		 <li><a href="<%= leftbar[i].link %>"><%= leftbar[i].name %></a></li>
	<% }}} %>
</ul>