<ul class="nav nav-list">
	<p><strong>功能列表</strong></p>
	<li><a href="#">项目管理</a></li>
	<li><a href="#">项目处理</a></li>
	<li><a href="#">项目打分</a></li>
	<li><a href="#">项目估算</a></li>

	<p><strong>相关链接</strong></p>
	<li><a href="#">项目故事</a></li>
	<li><a href="#">问题跟踪</a></li>
</ul>